@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #F8FAFC;
  --primary-color: #DF1463;
}

body {
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-logo {
  width: 50px;
}

.main-app {
  /* border: 1px solid red; */
  width: 60%;
  margin: 1.5rem auto;
}

header {
  display: flex;
  justify-content: flex-start;
  /* align-items: baseline; */
}

.songs-genre {
  margin: 1rem 1rem 1rem 0;
  border: 2px solid var(--primary-color);
  width: 80px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.content-items {
  width: 60%;
  /* height: 80px; */
  border: 1px solid red;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}

hr {
  color: var(--primary-color);
  width: 80%;
  opacity: 0.75;
}
